[project]
	description = An open sensor hub for Linux and Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jandy Gou (ck-telecom)
[access "refs/for/refs/*"]
	read = group user/Jandy Gou (ck-telecom)
	push = group user/Jandy Gou (ck-telecom)
	label-Code-Review = -2..+2 group user/Jandy Gou (ck-telecom)
	label-Verified = -1..+1 group user/Jandy Gou (ck-telecom)
	rebase = group user/Jandy Gou (ck-telecom)
	removeReviewer = group user/Jandy Gou (ck-telecom)
	submit = group user/Jandy Gou (ck-telecom)
[access "refs/heads/*"]
	read = group user/Jandy Gou (ck-telecom)
	create = group user/Jandy Gou (ck-telecom)
	push = +force group user/Jandy Gou (ck-telecom)
	pushMerge = group user/Jandy Gou (ck-telecom)
[access "refs/tags/*"]
	push = +force group user/Jandy Gou (ck-telecom)
	pushTag = group user/Jandy Gou (ck-telecom)
	pushSignedTag = group user/Jandy Gou (ck-telecom)
